body {
    background-color: rgb(201, 229, 215);
    color: rgba(17, 45, 7);
}

.navbar {
    background-image: url('images/greenTexture.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1, h2 {
    text-align: center
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 6px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 80%;
}

.flexcontainer figure {
  flex: 0 0 70%;
}

.flexcontainer figure img {
  width: 100%;
  max-width: 70vw;
}

.table-wrapper {
  flex: 1;
 }

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

figcaption {
    font-style: italic;
}

.flexcontainer {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: fit-content;
}

add[place="supralinear"] {
    vertical-align: super;
    font-size: smaller;
}

add[place="infralinear"] {
    vertical-align: sub;
    font-size: smaller;
}

.btn {
    background-color: white !important;
}

.btn:hover {
    background-color: rgba(17, 45, 7) !important;
    color: white !important;
}
