body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: rgb(157, 202, 218);
}

h1, h2 {
    text-align: center
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 6px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

figcaption {
    font-style: italic;
}

.flexcontainer {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#intro {
    width: fit-content;
}
